<link rel='stylesheet' href='/styles/article_style.css'>
<div class="main-content">
<div id="article_header"><?= $name; ?></div>

<div><?= $text; ?></div>

<div id="article_author_date">
  Автор статьи: <?= $author; ?><br>
  Год написания статьи: <?= $date; ?>
</div>

  <button id="back" class="btn cat_button"><a href="<?= $previous; ?>">Назад</a></button>

<!--  <script>-->
<!--    if (document.getElementById("back").onclick)  {-->
<!--      $previous = "javascript:history.go(-1)";-->
<!--    }-->
<!--  </script>-->

</div>