<link rel="stylesheet" href="/styles/create_edit_style.css">

<div class="main-content">
<form name="form_create" onsubmit="return validate_creation_edition()" method="post">
    <div class="field">
        <label for="article_name">Название статьи:</label>
        <input type="text" id="article_name" name="article_name" value="<?= $filled_article_name; ?>">
    </div>

    <div class="field">
        <label for="article_date">Дата написания статьи:</label>
        <input type="date" id="article_date" name="article_date" value="<?= $filled_article_date; ?>">
    </div>

    <div class="field">
        <label for="article_author">Автор статьи:</label>
        <input type="text" id="article_author" name="article_author" value="<?= $filled_article_author; ?>">
    </div>

    <div class="field">
        Категория:
        <select name="article_category">
            <?= $filled_article_category; ?>
        </select>
    </div>
    <textarea name="editor1"><?= $filled_article_text; ?></textarea>
    <input type="submit" name="sub" id="sub" value="Сохранить статью">

    <script src="/scripts/validate_creation_edit_form.js"></script>
</form>
</div>