<link rel='stylesheet' href='/styles/main_page_style.css'>

<h1>Категории</h1>
<div class='button_placement'>
  <button class='btn cat_button'><a href='/category.php?category=Программирование'>Программирование</a></button>
  <button class='btn cat_button'><a href='/category.php?category=Математика'>Математика</a></button>
  <button class='btn cat_button'><a href='/category.php?category=Физика'>Физика</a></button>
  <button class='btn cat_button'><a href='/category.php?category=Химия'>Химия</a></button>
</div>
<div class='button_placement'>
  <button class='btn cat_button'><a href='/category.php?category=Медицина'>Медицина</a></button>
  <button class='btn cat_button'><a href='/category.php?category=Литература'>Литература</a></button>
  <button class='btn cat_button'><a href='/category.php?category=Искусство'>Искусство</a></button>
  <button class='btn cat_button'><a href='/category.php?category=Экономика'>Экономика</a></button>
</div>

<h1>Последние статьи:</h1>
