<link rel='stylesheet' href='/styles/main_page_style.css'>

<form action="/category.php" method="post">

<h1>Категории</h1>
<div class='button_placement'>
  <button name="category" id="Программирование" class='btn cat_button'><a href='/category.php'>Программирование</a></button>
  <button name="category" id="Математика" class='btn cat_button'><a href='/category.php'>Математика</a></button>
  <button name="category" id="Физика" class='btn cat_button'><a href='/category.php'>Физика</a></button>
  <button name="category" id="Химия" class='btn cat_button'><a href='/category.php'>Химия</a></button>
</div>
<div class='button_placement'>
  <button name="category" id="Медецина" class='btn cat_button'><a href='/category.php'>Медицина</a></button>
  <button name="category" id="Литература" class='btn cat_button'><a href='/category.php'>Литература</a></button>
  <button name="category" id="Искусство" class='btn cat_button'><a href='/category.php'>Искусство</a></button>
  <button name="category" id="Экономика" class='btn cat_button'><a href='/category.php'>Экономика</a></button>
</div>
</form>
<h1>Последние статьи:</h1>
