<link rel='stylesheet' href='/styles/main_page_style.css'>

<h1>Категории</h1>
<div class='button_placement'>
  <button class='btn cat_button'><a href='/category.php?category=programming'>Программирование</a></button>
  <button class='btn cat_button'><a href='/category.php?category=math'>Математика</a></button>
  <button class='btn cat_button'><a href='/category.php?category=physics'>Физика</a></button>
  <button class='btn cat_button'><a href='/category.php?category=chemistry'>Химия</a></button>
</div>
<div class='button_placement'>
  <button class='btn cat_button'><a href='/category.php?category=medicine'>Медицина</a></button>
  <button class='btn cat_button'><a href='/category.php?category=literature'>Литература</a></button>
  <button class='btn cat_button'><a href='/category.php?category=art'>Искусство</a></button>
  <button class='btn cat_button'><a href='/category.php?category=economics'>Экономика</a></button>
</div>

<h1>Последние статьи:</h1>
