<link rel="stylesheet" href="/styles/auth_reg.css">

<main class="main-content">
<form method="post">
    <label>Логин</label>
    <input type="text" name="login" placeholder="Введите свой логин">
    <label>Пароль</label>
    <input type="password" name="password" placeholder="Введите пароль">
    <label>Подтверждение пароля</label>
    <input type="password" name="password_confirm" placeholder="Подтвердите пароль">
    <button type="submit" name="submit_button" id="submit_button">Зарегестрироваться</button>
    <p>
        У вас уже есть аккаунт? - <a href="authorization.php">авторизируйтесь</a>!
    </p>
    <?= $msg; ?>
</form>
</main>