<link rel="stylesheet" href="/styles/search_stylesheet.css">

  <form method="get" id="search">
    <div id="fields">
      <input type="text" id="article_name" name="article_name" placeholder="Название статьи" width="50">

      <input type="text" id="article_author" name="article_author" placeholder="Автор статьи">
      <div class="dates">
        Начало:
        <input type="date" id="article_date_start" name="article_date_start" placeholder="Дата написания статьи">

        Конец:
        <input type="date" id="article_date_end" name="article_date_end" placeholder="Дата написания статьи">
      </div>
    </div>

    <input id="search_button" type="submit" value="Найти">

  </form>