<link rel="stylesheet" href="/styles/search_stylesheet.css">

  <form method="post" id="search">
    <div id="fields">
        Категория:
        <select name="category">
            <?= $filled_article_category; ?>
        </select>

        Начало:
        <input type="date" id="article_date_start" name="article_date_start" value="2000-01-01">

        Конец:
        <input type="date" id="article_date_end" name="article_date_end" value="<?php echo date('Y-m-j'); ?>">
    </div>

    <input class="search_button" type="submit" name="sub" id="sub" value="Найти">

  </form>