.articles {
    display: flex;
    flex-direction: column;
    color: #333333;
    font-size: 24px;
    margin: 3%;
    padding: 3%;
    border: #411111 10px solid;
    /*text-decoration: none !important;*/
}

a {
    /*margin: 10%;*/
    /*text-decoration: solid;*/
    /*background-color: #2c14f1;*/
}