.articles {
    display: flex;
    flex-direction: column;
    color: #333333;
    font-size: 20px;
    margin: 3%;
    padding: 3%;
    border: green 2px solid;
    text-decoration: none !important;
}

#title {
    text-decoration: solid;
    text-align: center;
    margin-bottom: 1%;
}

#author {
    text-align: right;
}