/* Category button style */
.btn {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.cat_button {
    background-color: #04AA6D;
}

.cat_button:hover {
    background-color: #46a049;
}
