/* Category button style */
.btn {
    font-size: 1.5em;
    border: none; /* Remove borders */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
    width: 600px;
}

.cat_button {
    background-color: #04AA6D;
}

.cat_button:hover {
    background-color: #46a049;
}

a {
    text-decoration: none !important;
    color: white;
}

.button_placement {
    display: flex;
    justify-content: center;
}
