#search {
    margin: 5% 10% 0 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2% 0 2% 0;
}

#fields {
    border: 2px solid #04AA6D;
    padding: 2%;
    background-color: #04AA6D;
    color: white;
}

.search_button {
    font-size: 17px;
    text-align: center;
    padding: 2% 3% 2% 3%;
    background-color: #fbac11;
}

#search_button:hover {
    background-color: #fb7e25;
}